/* Variables para los colores */

$--color-blanco: #ffffff;
$--color-azul: #2e6fb9e1;
$--color-rojo: #ee8282;
$--color-gris-azulado: #576490;
$--color-azul-fuerte: #1a5bbc93;
$--color-amarillo: #b97d2ee1;
$--color-crema: #f1e4c3ef;


:root {
--color-blanco: #ffffff;
--color-azul: #2e6fb9e1;
--color-rojo: #ee8282;
--color-gris-azulado: #576490;
--color-azul-fuerte: #1a5bbc93;
--color-amarillo: #b97d2ee1;
--color-crema: #f1e4c3ef;
}